E911_Call_Center_Analytics.json
{"flowContents":{"identifier":"0054562c-2131-3f27-a8dd-e12c0564b019","instanceIdentifier":"a1aea292-0196-1000-ffff-ffff895ce7c0","name":"E911 Call Center Analytics","comments":"","position":{"x":312.0,"y":-232.0},"processGroups":[{"identifier":"72f00adf-0641-3f4a-9f30-1fb386455bcc","instanceIdentifier":"c5cd5a1c-0196-1000-ffff-ffffcedb1460","name":"Setup Script","comments":"","position":{"x":1056.0,"y":-96.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2740420a-11f3-3309-9e6e-1cfef39051d3","instanceIdentifier":"6e4f35d1-0e60-1ebd-a0dd-e49e74e70e91","name":"ExecuteStreamCommand","comments":"","position":{"x":515.9999764986467,"y":428.000011337206},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":null,"Command Path":"rm","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"-rf;/tmp/e911/*"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["output stream","original","nonzero status"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72f00adf-0641-3f4a-9f30-1fb386455bcc"},{"identifier":"161e065f-efea-3d38-9d20-0e6aa2d54f7b","instanceIdentifier":"bc183ed8-0c3d-1f70-bb15-679a613c361e","name":"GenerateFlowFile","comments":"","position":{"x":515.9999764986467,"y":148.000011337206},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72f00adf-0641-3f4a-9f30-1fb386455bcc"},{"identifier":"73ca641e-e75f-32ed-85e8-229dbd524c9a","instanceIdentifier":"afb23a1f-0a3d-18dd-a0f6-3281eabe4147","name":"UpdateAttribute","comments":"","position":{"x":1104.0,"y":384.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Delete Attributes Expression":null,"filename":"analyze_with_bedrock.py","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72f00adf-0641-3f4a-9f30-1fb386455bcc"},{"identifier":"05ba542a-9d4d-38a5-9372-6b2075f3e438","instanceIdentifier":"93e030bf-3cfa-1be1-a560-04611e560d04","name":"PutFile","comments":"","position":{"x":1104.0,"y":600.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/tmp/e911","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72f00adf-0641-3f4a-9f30-1fb386455bcc"},{"identifier":"8b490df1-f4c3-34f2-a09e-08a3efcfd00a","instanceIdentifier":"3b5f3dac-f7fc-16ca-a687-06f4d64968f5","name":"Bedrock Setup","comments":"","position":{"x":1104.0,"y":136.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"import boto3\nimport json\nimport random\nfrom datetime import datetime\nimport uuid\nimport sys\n\n# === INLINE AWS CREDENTIALS (use temporary or IAM user credentials with Bedrock access) ===\nbedrock = boto3.client(\n    \"bedrock-runtime\",\n    region_name=\"us-gov-west-1\",\n    aws_access_key_id=\"XXXXX\",\n    aws_secret_access_key=\"XXXXX\"\n)\n\nMODEL_ID = \"amazon.titan-text-express-v1\"\n\ndef build_prompt(transcript_text):\n    return f\"\"\"\nYou are an emergency response AI assistant. Your only job is to extract structured fields from 911 call transcripts.\n\n⚠️ IMPORTANT: Your response MUST BE A VALID JSON OBJECT and NOTHING ELSE. Do NOT include introductions, explanations, or markdown.\n\nOnly respond with a JSON object using this exact format:\n\n{{\n  \"incident_type\": string,\n  \"call_priority\": \"Low\" | \"Medium\" | \"High\" | \"Critical\",\n  \"transcription_keywords\": [string, ...],\n  \"caller_sentiment\": \"Calm\" | \"Distressed\" | \"Panicked\",\n  \"suspected_substances\": [string, ...],\n  \"ai_crisis_classification\": string,\n  \"summary_notes\": string\n}}\n\nAnalyze this 911 call transcript and extract the fields:\n\n\\\"\\\"\\\"{transcript_text}\\\"\\\"\\\"\n\"\"\"\n\ndef call_bedrock(prompt):\n    response = bedrock.invoke_model(\n        modelId=MODEL_ID,\n        body=json.dumps({\n            \"inputText\": prompt,\n            \"textGenerationConfig\": {\n                \"temperature\": 0.7,\n                \"maxTokenCount\": 1024,\n                \"topP\": 0.9,\n                \"stopSequences\": []\n            }\n        }),\n        contentType=\"application/json\",\n        accept=\"application/json\"\n    )\n\n    raw_output = response[\"body\"].read().decode(\"utf-8\")\n\n    try:\n        parsed = json.loads(raw_output)\n        output_text = parsed.get(\"results\", [{}])[0].get(\"outputText\", \"\").strip()\n\n        if not output_text:\n            raise ValueError(\"Bedrock model returned empty outputText\")\n\n        return json.loads(output_text)\n\n    except Exception as e:\n        print(f\"ERROR: Failed to parse Bedrock response: {e}\", file=sys.stderr)\n        print(\"RAW output:\", raw_output, file=sys.stderr)\n        sys.exit(1)\n\ndef extract_parts(content):\n    # Find the first valid JSON block\n    json_start = content.find('{')\n    brace_stack = 0\n    json_end = 0\n\n    for i in range(json_start, len(content)):\n        if content[i] == '{':\n            brace_stack += 1\n        elif content[i] == '}':\n            brace_stack -= 1\n            if brace_stack == 0:\n                json_end = i + 1\n                break\n\n    if json_end == 0:\n        raise ValueError(\"No valid JSON found\")\n\n    metadata_json = content[json_start:json_end]\n    transcript_raw = content[:json_start] + content[json_end:]\n    return json.loads(metadata_json), transcript_raw.strip()\n\n# ==== MAIN ====\nif __name__ == \"__main__\":\n    content = sys.stdin.read()\n\n    if not content.strip():\n        print(\"ERROR: Empty input from FlowFile\", file=sys.stderr)\n        sys.exit(1)\n\n    try:\n        metadata, transcript = extract_parts(content)\n    except Exception as e:\n        print(f\"ERROR parsing input: {e}\", file=sys.stderr)\n        sys.exit(1)\n\n    ai_result = call_bedrock(build_prompt(transcript))\n\n    metadata.update({\n        \"incident_type\": ai_result[\"incident_type\"],\n        \"call_priority\": ai_result[\"call_priority\"],\n        \"transcription_keywords\": ai_result[\"transcription_keywords\"],\n        \"emotion_analysis\": {\n            \"caller_sentiment\": ai_result[\"caller_sentiment\"],\n            \"urgency_score\": round(random.uniform(6.0, 10.0), 1),\n            \"agitation_level\": random.choice([\"Low\", \"Moderate\", \"High\"])\n        },\n        \"suspected_substances\": ai_result[\"suspected_substances\"],\n        \"notes\": ai_result[\"summary_notes\"],\n        \"ai_crisis_classification\": {\n            \"classified_as\": ai_result[\"ai_crisis_classification\"],\n            \"confidence\": round(random.uniform(0.85, 0.98), 2),\n            \"model_version\": MODEL_ID\n        }\n    })\n\n    print(json.dumps(metadata, indent=2))\n","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"72f00adf-0641-3f4a-9f30-1fb386455bcc"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"53f8c5c8-c7c1-3696-9b1d-64473fbf47bf","instanceIdentifier":"93e030d2-3cfa-1be1-0000-0000667b6e73","name":"","source":{"id":"73ca641e-e75f-32ed-85e8-229dbd524c9a","type":"PROCESSOR","groupId":"72f00adf-0641-3f4a-9f30-1fb386455bcc","name":"UpdateAttribute","comments":"","instanceIdentifier":"afb23a1f-0a3d-18dd-a0f6-3281eabe4147"},"destination":{"id":"05ba542a-9d4d-38a5-9372-6b2075f3e438","type":"PROCESSOR","groupId":"72f00adf-0641-3f4a-9f30-1fb386455bcc","name":"PutFile","comments":"","instanceIdentifier":"93e030bf-3cfa-1be1-a560-04611e560d04"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72f00adf-0641-3f4a-9f30-1fb386455bcc"},{"identifier":"4ef56b29-ecad-398c-8634-7ee55468079a","instanceIdentifier":"93e030ce-3cfa-1be1-0000-00005ce829ca","name":"","source":{"id":"8b490df1-f4c3-34f2-a09e-08a3efcfd00a","type":"PROCESSOR","groupId":"72f00adf-0641-3f4a-9f30-1fb386455bcc","name":"Bedrock Setup","comments":"","instanceIdentifier":"3b5f3dac-f7fc-16ca-a687-06f4d64968f5"},"destination":{"id":"73ca641e-e75f-32ed-85e8-229dbd524c9a","type":"PROCESSOR","groupId":"72f00adf-0641-3f4a-9f30-1fb386455bcc","name":"UpdateAttribute","comments":"","instanceIdentifier":"afb23a1f-0a3d-18dd-a0f6-3281eabe4147"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72f00adf-0641-3f4a-9f30-1fb386455bcc"},{"identifier":"21b27f5f-ff58-3323-ba8e-989575c1e25e","instanceIdentifier":"6e4f35d3-0e60-1ebd-ffff-ffff88490b27","name":"","source":{"id":"161e065f-efea-3d38-9d20-0e6aa2d54f7b","type":"PROCESSOR","groupId":"72f00adf-0641-3f4a-9f30-1fb386455bcc","name":"GenerateFlowFile","comments":"","instanceIdentifier":"bc183ed8-0c3d-1f70-bb15-679a613c361e"},"destination":{"id":"2740420a-11f3-3309-9e6e-1cfef39051d3","type":"PROCESSOR","groupId":"72f00adf-0641-3f4a-9f30-1fb386455bcc","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"6e4f35d1-0e60-1ebd-a0dd-e49e74e70e91"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"72f00adf-0641-3f4a-9f30-1fb386455bcc"}],"labels":[{"identifier":"d4980827-0751-3d24-91a4-a1b434f8c51b","instanceIdentifier":"6e4f3606-0e60-1ebd-ffff-ffff9b692e50","position":{"x":528.0,"y":88.0},"label":"clear previous scripts","zIndex":0,"width":304.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"72f00adf-0641-3f4a-9f30-1fb386455bcc"}],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"}],"remoteProcessGroups":[],"processors":[{"identifier":"43e6f661-35da-3afc-b84f-349ebcb8cfc7","instanceIdentifier":"b3a33b36-e235-19b9-ffff-ffff90b23ca3","name":"Get call transcript from S3","comments":"","position":{"x":192.0,"y":1168.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Proxy Host":null,"range-length":null,"range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"custom-signer-class-name":null,"requester-pays":"false","Object Key":"${jobname}.json","AWS Credentials Provider service":null,"custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"e911-call-transcripts","Version":null,"Communications Timeout":"30 secs","Region":"us-gov-west-1","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"982078c3-51b4-3ea2-afb9-207f3c208294","instanceIdentifier":"b6a0d747-0196-1000-ffff-ffffb21b03f4","name":"UpdateAttribute","comments":"","position":{"x":504.0,"y":328.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"s3uri":"${s3.bucket:prepend('s3://'):append('/'):append(${filename})}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","jobnumber":"${nextInt()}","Stateful Variables Initial Value":null,"jobname":"${UUID():prepend('nifi-trans-job-')}"},"propertyDescriptors":{"s3uri":{"name":"s3uri","displayName":"s3uri","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"jobnumber":{"name":"jobnumber","displayName":"jobnumber","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"jobname":{"name":"jobname","displayName":"jobname","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"6480be07-9f0d-30ec-a0a8-c2da2a3a099c","instanceIdentifier":"58513632-f692-10d4-a325-00094bba1df2","name":"Extract only the call transcript","comments":"","position":{"x":192.0,"y":1352.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Destination":"flowfile-content","transcription":"$.results.transcripts[0]","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"transcription":{"name":"transcription","displayName":"transcription","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"1f0bc226-5253-3cba-b954-0f2cd4b1a742","instanceIdentifier":"0e383712-7224-15cf-b6c2-fd0f8ece7277","name":"UpdateAttribute","comments":"","position":{"x":696.0,"y":984.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","fragment.identifier":"${merge_key}","merge_key":"${filename:replaceAll('\\\\.mp3$', '')}","fragment.index":"0","merge_role":"metadata","fragment.count":"2","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"fragment.identifier":{"name":"fragment.identifier","displayName":"fragment.identifier","identifiesControllerService":false,"sensitive":false},"merge_key":{"name":"merge_key","displayName":"merge_key","identifiesControllerService":false,"sensitive":false},"fragment.index":{"name":"fragment.index","displayName":"fragment.index","identifiesControllerService":false,"sensitive":false},"merge_role":{"name":"merge_role","displayName":"merge_role","identifiesControllerService":false,"sensitive":false},"fragment.count":{"name":"fragment.count","displayName":"fragment.count","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"1695c6b7-97c8-3f4c-bfa9-b2e1f7064d6a","instanceIdentifier":"93e03208-3cfa-1be1-0000-0000326d2230","name":"ExecuteStreamCommand","comments":"","position":{"x":512.0,"y":1792.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/tmp","Command Path":"/usr/local/bin/python3.9","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/tmp/e911/analyze_with_bedrock.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["nonzero status"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"359d5d93-87cb-3383-b616-6872f3f41f53","instanceIdentifier":"b3a33c02-e235-19b9-0000-0000246d4d7a","name":"MergeContent","comments":"","position":{"x":512.0,"y":1552.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Defragment","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"2","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":"${merge_key}","Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"2"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"f2605aff-e07c-3241-a1aa-9cb621c16ae9","instanceIdentifier":"ca0f3902-0196-1000-ffff-ffffd1b94fd3","name":"PutDatabaseRecord","comments":"","position":{"x":512.0,"y":2104.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":"default","put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"288075eb-e52b-3f72-b1d9-796ec2afc763","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","put-db-record-binary-format":"UTF-8","db-type":"Generic","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"e911","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"c5e572a5-3780-3a3d-a1a4-4a14831ce88c","Data Record Path":null,"database-session-autocommit":"false"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"2959ecdf-e09e-3d76-9b4d-abbf16a79ce1","instanceIdentifier":"b67e4494-0196-1000-ffff-ffffe7bce925","name":"StartAwsTranscribeJob","comments":"","position":{"x":504.0,"y":552.0},"type":"org.apache.nifi.processors.aws.ml.transcribe.StartAwsTranscribeJob","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"json-payload":"{\n\"LanguageCode\": \"en-US\",\n\"Media\": {\n\"MediaFileUri\": \"${s3uri}\"\n},\n\"MediaFormat\": \"mp3\",\n\"OutputBucketName\": \"e911-call-transcripts\",\n\"TranscriptionJobName\": \"${jobname}\"\n}","SSL Context Service":null,"Communications Timeout":"30 secs","Endpoint Override URL":null,"AWS Credentials Provider service":"fc5e42b6-ec70-329e-8973-cb3323cd90c7","aws-region":"us-gov-west-1"},"propertyDescriptors":{"json-payload":{"name":"json-payload","displayName":"JSON Payload","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"aws-region":{"name":"aws-region","displayName":"Region","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"52d5c923-3611-3b41-8d7d-b5ce82898a0b","instanceIdentifier":"8ac03d59-0257-1782-97b8-242bc0573093","name":"ListS3","comments":"","position":{"x":512.0,"y":-96.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Proxy Host":null,"list-type":"1","et-initial-listing-target":"all","prefix":null,"record-writer":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"et-time-window":"3 hours","custom-signer-class-name":null,"requester-pays":"false","custom-signer-module-location":null,"listing-strategy":"none","Signer Override":"Default Signature","delimiter":null,"min-age":"0 sec","write-s3-user-metadata":"false","max-age":null,"AWS Credentials Provider service":null,"Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Bucket":"e911-calls","Communications Timeout":"30 secs","Region":"us-gov-west-1","Credentials File":null,"et-state-cache":null,"proxy-user-name":null,"Proxy Host Port":null,"use-versions":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false},"max-age":{"name":"max-age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"9999 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"cab799bf-9ccb-3db2-9c3e-9f93b5778f61","instanceIdentifier":"b6c13cc5-0196-1000-0000-000022b9026a","name":"Get call metadata extract from S3","comments":"","position":{"x":696.0,"y":1168.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Proxy Host":null,"range-length":null,"range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"custom-signer-class-name":null,"requester-pays":"false","Object Key":"${filename:replaceAll('\\\\.mp3$', '.json')}","AWS Credentials Provider service":null,"custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"e911-calls","Version":null,"Communications Timeout":"30 secs","Region":"us-gov-west-1","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"66cbc5de-4b93-3879-a330-f04091c52a7a","instanceIdentifier":"b67e8cf1-0196-1000-ffff-ffffd2bc6752","name":"GetAwsTranscribeJobStatus","comments":"","position":{"x":504.0,"y":784.0},"type":"org.apache.nifi.processors.aws.ml.transcribe.GetAwsTranscribeJobStatus","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"SSL Context Service":null,"awsTaskId":"${awsTaskId}","proxy-configuration-service":null,"Communications Timeout":"30 secs","Endpoint Override URL":null,"AWS Credentials Provider service":"fc5e42b6-ec70-329e-8973-cb3323cd90c7","aws-region":"us-gov-west-1"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"awsTaskId":{"name":"awsTaskId","displayName":"AWS Task ID","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"aws-region":{"name":"aws-region","displayName":"Region","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["running","original","failure","throttled"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["running","throttled"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"0ea5dad3-366c-38b4-b8fa-bd506b8699c7","instanceIdentifier":"b3a33ac8-e235-19b9-8b9e-a4191c1d6e2a","name":"Audio Route","comments":"","position":{"x":504.0,"y":120.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Routing Strategy":"Route to 'match' if any matches","json":"${filename:endsWith('.mp3')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"json":{"name":"json","displayName":"json","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"73d213a3-2871-374a-994d-6cfa854488fc","instanceIdentifier":"58513a84-f692-10d4-ffff-ffff85a5aa8a","name":"UpdateAttribute","comments":"","position":{"x":192.0,"y":984.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","fragment.identifier":"${merge_key}","merge_key":"${filename:replaceAll('\\\\.mp3$', '')}","fragment.index":"1","merge_role":"transcript","fragment.count":"2","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"fragment.identifier":{"name":"fragment.identifier","displayName":"fragment.identifier","identifiesControllerService":false,"sensitive":false},"merge_key":{"name":"merge_key","displayName":"merge_key","identifiesControllerService":false,"sensitive":false},"fragment.index":{"name":"fragment.index","displayName":"fragment.index","identifiesControllerService":false,"sensitive":false},"merge_role":{"name":"merge_role","displayName":"merge_role","identifiesControllerService":false,"sensitive":false},"fragment.count":{"name":"fragment.count","displayName":"fragment.count","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a5db62f2-5f74-3db7-ae9c-5813ac53d3fe","instanceIdentifier":"b6a1abae-0196-1000-ffff-ffffc806077b","name":"","source":{"id":"982078c3-51b4-3ea2-afb9-207f3c208294","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"UpdateAttribute","comments":"","instanceIdentifier":"b6a0d747-0196-1000-ffff-ffffb21b03f4"},"destination":{"id":"2959ecdf-e09e-3d76-9b4d-abbf16a79ce1","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"StartAwsTranscribeJob","comments":"","instanceIdentifier":"b67e4494-0196-1000-ffff-ffffe7bce925"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"f445c544-0b78-3a69-9168-abb37734689c","instanceIdentifier":"58513a98-f692-10d4-0000-000045560ec7","name":"","source":{"id":"73d213a3-2871-374a-994d-6cfa854488fc","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"UpdateAttribute","comments":"","instanceIdentifier":"58513a84-f692-10d4-ffff-ffff85a5aa8a"},"destination":{"id":"43e6f661-35da-3afc-b84f-349ebcb8cfc7","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"Get call transcript from S3","comments":"","instanceIdentifier":"b3a33b36-e235-19b9-ffff-ffff90b23ca3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"97e46214-199a-3bcc-ad46-8e8a9a69fa50","instanceIdentifier":"b3a33c0d-e235-19b9-0000-00003169b953","name":"","source":{"id":"cab799bf-9ccb-3db2-9c3e-9f93b5778f61","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"Get call metadata extract from S3","comments":"","instanceIdentifier":"b6c13cc5-0196-1000-0000-000022b9026a"},"destination":{"id":"359d5d93-87cb-3383-b616-6872f3f41f53","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"MergeContent","comments":"","instanceIdentifier":"b3a33c02-e235-19b9-0000-0000246d4d7a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"9d86db1f-0cdc-3995-85c9-efe433d30f15","instanceIdentifier":"c588993e-0196-1000-ffff-ffffe8ee5b29","name":"","source":{"id":"1f0bc226-5253-3cba-b954-0f2cd4b1a742","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"UpdateAttribute","comments":"","instanceIdentifier":"0e383712-7224-15cf-b6c2-fd0f8ece7277"},"destination":{"id":"cab799bf-9ccb-3db2-9c3e-9f93b5778f61","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"Get call metadata extract from S3","comments":"","instanceIdentifier":"b6c13cc5-0196-1000-0000-000022b9026a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"84cc50d8-b6f3-3b6b-9a11-80f7ecd06ae3","instanceIdentifier":"58513639-f692-10d4-0000-00003ab8d6a1","name":"","source":{"id":"6480be07-9f0d-30ec-a0a8-c2da2a3a099c","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"Extract only the call transcript","comments":"","instanceIdentifier":"58513632-f692-10d4-a325-00094bba1df2"},"destination":{"id":"359d5d93-87cb-3383-b616-6872f3f41f53","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"MergeContent","comments":"","instanceIdentifier":"b3a33c02-e235-19b9-0000-0000246d4d7a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"bd182683-8cac-3ca1-9f67-78b1804da88f","instanceIdentifier":"93e03213-3cfa-1be1-ffff-ffff88f6ef6f","name":"","source":{"id":"359d5d93-87cb-3383-b616-6872f3f41f53","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"MergeContent","comments":"","instanceIdentifier":"b3a33c02-e235-19b9-0000-0000246d4d7a"},"destination":{"id":"1695c6b7-97c8-3f4c-bfa9-b2e1f7064d6a","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"93e03208-3cfa-1be1-0000-0000326d2230"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"d32ffee7-be80-3cd1-9a5d-046aeaeb0530","instanceIdentifier":"b3a33c09-e235-19b9-ffff-ffffb34d29ae","name":"","source":{"id":"43e6f661-35da-3afc-b84f-349ebcb8cfc7","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"Get call transcript from S3","comments":"","instanceIdentifier":"b3a33b36-e235-19b9-ffff-ffff90b23ca3"},"destination":{"id":"6480be07-9f0d-30ec-a0a8-c2da2a3a099c","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"Extract only the call transcript","comments":"","instanceIdentifier":"58513632-f692-10d4-a325-00094bba1df2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"8db0382a-b389-3f2c-ad1f-386b209f41ae","instanceIdentifier":"93e0324e-3cfa-1be1-0000-00000359df35","name":"","source":{"id":"1695c6b7-97c8-3f4c-bfa9-b2e1f7064d6a","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"93e03208-3cfa-1be1-0000-0000326d2230"},"destination":{"id":"f2605aff-e07c-3241-a1aa-9cb621c16ae9","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"ca0f3902-0196-1000-ffff-ffffd1b94fd3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":688.0,"y":2000.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"e4034c0f-b505-3837-bc32-ab566e6a2ab2","instanceIdentifier":"b3a33adb-e235-19b9-ffff-ffffd9fc948c","name":"","source":{"id":"0ea5dad3-366c-38b4-b8fa-bd506b8699c7","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"Audio Route","comments":"","instanceIdentifier":"b3a33ac8-e235-19b9-8b9e-a4191c1d6e2a"},"destination":{"id":"982078c3-51b4-3ea2-afb9-207f3c208294","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"UpdateAttribute","comments":"","instanceIdentifier":"b6a0d747-0196-1000-ffff-ffffb21b03f4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"3529d374-546f-372c-ad5c-923652e49249","instanceIdentifier":"b3a33bf0-e235-19b9-0000-0000085c1ef7","name":"","source":{"id":"66cbc5de-4b93-3879-a330-f04091c52a7a","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"GetAwsTranscribeJobStatus","comments":"","instanceIdentifier":"b67e8cf1-0196-1000-ffff-ffffd2bc6752"},"destination":{"id":"73d213a3-2871-374a-994d-6cfa854488fc","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"UpdateAttribute","comments":"","instanceIdentifier":"58513a84-f692-10d4-ffff-ffff85a5aa8a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"31976790-121b-3392-b8bf-300f3e30c214","instanceIdentifier":"b67ea222-0196-1000-0000-000023d1ad30","name":"","source":{"id":"2959ecdf-e09e-3d76-9b4d-abbf16a79ce1","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"StartAwsTranscribeJob","comments":"","instanceIdentifier":"b67e4494-0196-1000-ffff-ffffe7bce925"},"destination":{"id":"66cbc5de-4b93-3879-a330-f04091c52a7a","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"GetAwsTranscribeJobStatus","comments":"","instanceIdentifier":"b67e8cf1-0196-1000-ffff-ffffd2bc6752"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"1a4bb3ff-22ca-3fce-a8c4-5eadc013c620","instanceIdentifier":"b65caed9-0196-1000-ffff-ffffb2fd085e","name":"","source":{"id":"52d5c923-3611-3b41-8d7d-b5ce82898a0b","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"ListS3","comments":"","instanceIdentifier":"8ac03d59-0257-1782-97b8-242bc0573093"},"destination":{"id":"0ea5dad3-366c-38b4-b8fa-bd506b8699c7","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"Audio Route","comments":"","instanceIdentifier":"b3a33ac8-e235-19b9-8b9e-a4191c1d6e2a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"68ca058e-c727-3ec8-8f06-9672ef0a8426","instanceIdentifier":"b3a33ce5-e235-19b9-ffff-fffff1b6b667","name":"","source":{"id":"359d5d93-87cb-3383-b616-6872f3f41f53","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"MergeContent","comments":"","instanceIdentifier":"b3a33c02-e235-19b9-0000-0000246d4d7a"},"destination":{"id":"1695c6b7-97c8-3f4c-bfa9-b2e1f7064d6a","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"93e03208-3cfa-1be1-0000-0000326d2230"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"ea33ab4f-946d-3ce3-a69a-e6b9f72eb736","instanceIdentifier":"b6b93f87-0196-1000-0000-000008a5e03c","name":"","source":{"id":"66cbc5de-4b93-3879-a330-f04091c52a7a","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"GetAwsTranscribeJobStatus","comments":"","instanceIdentifier":"b67e8cf1-0196-1000-ffff-ffffd2bc6752"},"destination":{"id":"1f0bc226-5253-3cba-b954-0f2cd4b1a742","type":"PROCESSOR","groupId":"0054562c-2131-3f27-a8dd-e12c0564b019","name":"UpdateAttribute","comments":"","instanceIdentifier":"0e383712-7224-15cf-b6c2-fd0f8ece7277"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"}],"labels":[{"identifier":"d49e8d5d-26c7-31cc-981d-540f8560998f","instanceIdentifier":"9d3033d2-6962-1b0c-b410-dbf80dc67ab5","position":{"x":184.0,"y":1792.0},"label":"Leverage AWS Bedrock to add AI \nanalysis to the call. \n\nBedrock adds:\n\n  \"incident_type\": string,\n  \"call_priority\": \"Low\" | \"Medium\" | \"High\" | \"Critical\",\n  \"transcription_keywords\": [string, ...],\n  \"caller_sentiment\": \"Calm\" | \"Distressed\" | \"Panicked\",\n  \"suspected_substances\": [string, ...],\n  \"ai_crisis_classification\": string,\n  \"summary_notes\": string","zIndex":0,"width":304.0,"height":200.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"e3262b0e-7dcb-32c5-b279-48c4ef32d7e0","instanceIdentifier":"74d03f41-6ffc-109f-984a-cf58dd91f2cd","position":{"x":216.0,"y":712.0},"label":"Run the AWS Transcription job and check progress","zIndex":0,"width":296.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"a9a7feb3-4481-3357-a735-e2aa93a67560","instanceIdentifier":"14da3fa2-d5ab-1219-bd05-981c4f5fc0e5","position":{"x":560.0,"y":1120.0},"label":"Load the metadata\nabout the call and \nthe resulting \ntranscription\ninto flow files","zIndex":0,"width":128.0,"height":96.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"f78a6704-97d2-342d-9b9e-4b2d20835b10","instanceIdentifier":"99b63605-950b-1ce0-a9fb-ec5bbb22b302","position":{"x":288.0,"y":1576.0},"label":"Combine the metadata \nabout the call and the \ntranscription","zIndex":0,"width":144.0,"height":72.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"2cb30b66-ca44-38be-9e9f-ae26496f56af","instanceIdentifier":"1e8d364c-88cd-195a-9c04-c74f4a84e28b","position":{"x":224.0,"y":368.0},"label":"Create a unique AWS Transcription job","zIndex":0,"width":264.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"ce199ad1-e6d4-3184-9185-d144f4940c50","instanceIdentifier":"b66b5596-0196-1000-0000-00005f26efda","position":{"x":224.0,"y":-80.0},"label":"Get call center recordings from S3","zIndex":0,"width":264.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"b56ba061-059d-34a0-bf77-a58d3670a613","instanceIdentifier":"00583f02-1ed9-164d-a9b0-1181874c14bf","position":{"x":224.0,"y":152.0},"label":"Route .mp3 recordings from our call center","zIndex":0,"width":264.0,"height":32.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"}],"funnels":[],"controllerServices":[{"identifier":"ed7aeab6-d12c-33dc-9d4c-e32840bde3bf","instanceIdentifier":"b6e4f5f7-0196-1000-0000-00002e697602","name":"JsonPathReader","comments":"","type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Timestamp Format":null,"Date Format":null,"schema-branch":null,"Max String Length":"20 MB","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0.2.1.7.1000-46"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"b1aa0113-0918-303c-a6ed-946422a45259","instanceIdentifier":"ca231a17-0196-1000-0000-0000624f5171","name":"Hive3ConnectionPool","comments":"","type":"org.apache.nifi.dbcp.hive.Hive3ConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive3-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"dbcp-min-idle-conns":"0","dbcp-min-evictable-idle-time":"30 mins","hive-config-resources":null,"kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Kerberos Keytab":null,"hive-max-total-connections":"8","dbcp-time-between-eviction-runs":"-1","hive-db-connect-url":"jdbc:hive2://cdp-se-de-dh-1-master0.cdp-se-g.rg4u8p.g0.cldrgov.us/;ssl=true;transportMode=http;httpPath=cdp-se-de-dh-1/cdp-proxy-api/hive","Kerberos Principal":null,"dbcp-soft-min-evictable-idle-time":"-1","hive-max-wait-time":"500 millis","dbcp-max-idle-conns":"8","hive-db-user":"ktalbert"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.hive.HiveDBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.26.0.2.1.7.1000-46"}},{"type":"org.apache.nifi.dbcp.hive.Hive3DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.26.0.2.1.7.1000-46"}},{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0.2.1.7.1000-46"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"e3093d54-3e02-3824-8798-05048cb107ac","instanceIdentifier":"ca105453-0196-1000-0000-00006aacd9f0","name":"ClouderaHiveConnectionPool","comments":"","type":"org.apache.nifi.dbcp.hive.ClouderaHiveConnectionPool","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-hive-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"dbcp-min-idle-conns":"0","dbcp-min-evictable-idle-time":"30 mins","hive-config-resources":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"hive-max-total-connections":"8","dbcp-time-between-eviction-runs":"-1","hive-db-connect-url":"jdbc:hive2://cdp-se-de-dh-1-master0.cdp-se-g.rg4u8p.g0.cldrgov.us:443/;ssl=true;transportMode=http;httpPath=cdp-se-de-dh-1/cdp-proxy-api/hive","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","hive-max-wait-time":"500 millis","dbcp-max-idle-conns":"8","hive-db-user":"ktalbert"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.hive.ClouderaHiveDBCPService","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-hive-services-api-nar","version":"1.26.0.2.1.7.1000-46"}},{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0.2.1.7.1000-46"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"fc5e42b6-ec70-329e-8973-cb3323cd90c7","instanceIdentifier":"b67ed7c9-0196-1000-0000-000023906853","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"profile-name":null,"assume-role-proxy-host":null,"default-credentials":"false","Session Time":"3600","assume-role-proxy-port":null,"assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"assume-role-proxy-host":{"name":"assume-role-proxy-host","displayName":"Assume Role Proxy Host","identifiesControllerService":false,"sensitive":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false},"assume-role-proxy-port":{"name":"assume-role-proxy-port","displayName":"Assume Role Proxy Port","identifiesControllerService":false,"sensitive":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"1.26.0.2.1.7.1000-46"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"1.26.0.2.1.7.1000-46"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"f3684cfc-d062-3ed0-b134-da62f91b6399","instanceIdentifier":"b6f37439-0196-1000-0000-00001065f52c","name":"StandardSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLSv1.2","Keystore Type":null,"Truststore Filename":"/var/lib/nifi/gateway-client-trust.jks","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0.2.1.7.1000-46"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"288075eb-e52b-3f72-b1d9-796ec2afc763","instanceIdentifier":"ca40abac-0196-1000-0000-000006c96a3e","name":"HiveConnectionPool","comments":"","type":"org.apache.nifi.dbcp.hive.HiveConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"kerberos-credentials-service":null,"Validation-query":null,"Kerberos Keytab":null,"hive-max-total-connections":"8","hive-db-connect-url":"jdbc:hive2://cdp-se-de-dh-1-master0.cdp-se-g.rg4u8p.g0.cldrgov.us/;ssl=true;transportMode=http;httpPath=cdp-se-de-dh-1/cdp-proxy-api/hive","hive-max-conn-lifetime":"-1","Kerberos Principal":null,"hive-config-resources":"/tmp/hive-site.xml","hive-max-wait-time":"500 millis","hive-db-user":"ktalbert"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"hive-max-conn-lifetime":{"name":"hive-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.hive.HiveDBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.26.0.2.1.7.1000-46"}},{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0.2.1.7.1000-46"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"cfe642d3-748f-3963-b970-7db14efa29d8","instanceIdentifier":"ca46ce56-0196-1000-0000-00000991134a","name":"HiveCatalogService","comments":"","type":"org.apache.nifi.services.iceberg.HiveCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"hadoop-config-resources":null,"warehouse-location":null,"hive-metastore-uri":null},"propertyDescriptors":{"hadoop-config-resources":{"name":"hadoop-config-resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"warehouse-location":{"name":"warehouse-location","displayName":"Default Warehouse Location","identifiesControllerService":false,"sensitive":false},"hive-metastore-uri":{"name":"hive-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.services.iceberg.IcebergCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-api-nar","version":"1.26.0.2.1.7.1000-46"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"},{"identifier":"c5e572a5-3780-3a3d-a1a4-4a14831ce88c","instanceIdentifier":"b6f258b7-0196-1000-0000-0000734b8885","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.26.0.2.1.7.1000-46"},"properties":{"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.26.0.2.1.7.1000-46"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0054562c-2131-3f27-a8dd-e12c0564b019"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}
